<article class="articulos__articulo">
    <h3 class="seccion__titulo">Datos de pago</h3>
    <section class="articulo__datos">
        <label for="nombre-tarjeta" class="datos__text"><i class="fa-solid fa-user"></i> Nombre de la tarjeta</label>
        <input type="text" id="nombre-tarjeta" name="nombre-tarjeta" class="articulo__input">
    </section>
    <section class="articulo__datos">
        <label for="numero-tarjeta" class="datos__text"><i class="fa-solid fa-credit-card"></i> Numero de la tarjeta</label>
        <input type="number" id="numero-tarjeta" name="numero-tarjeta" class="articulo__input">
    </section>
    <section class="articulo__datos">
        <label for="fecha-tarjeta" class="datos__text"><i class="fa-solid fa-calendar-days"></i> Fecha de expiración</label>
        <input type="date" id="fecha-tarjeta" name="fecha-tarjeta" class="articulo__input">
    </section>
</article>