<a href="./product">    
    <div class="producto">
        <div class="imagen">
            <img src="<%= imagen %>" alt="<%= nombre %>">
        </div>
        <div class="box-detalles">
            <h3>
                <%= nombre %>
            </h3>
            <hr>
            <div class="producto-detalles">
                <h3><%= puntos %></h3>
                <p>PUNTOS</p>                                    
            </div>
        </div>
    </div>
</a>