<div class="producto-photos">
    <aside class="aside-img">
        <img src="/img/producto-jack.jpg" alt="">
        <img src="/img/producto-jack.jpg" alt="">
        <img src="/img/producto-jack.jpg" alt="">
    </aside>
    <img class="product-img" src="/img/producto-jack.jpg" alt="">
</div>