<article class="articulos__articulo">
    <h3 class="seccion__titulo">Dirección de Envío</h3>
    <section class="articulo__datos">
        <label for="nombre" class="datos__text"><i class="fa-solid fa-user"></i> Nombre Completo</label>
        <input type="text" id="nombre" name="nombre" class="articulo__input">
    </section>
    <section class="articulo__datos">
        <label for="direccion" class="datos__text"><i class="fa-solid fa-house"></i> Dirección</label>
        <input type="text" id="direccion" name="direccion" class="articulo__input">
    </section>
    <section class="articulo__datos">
        <label for="ciudad" class="datos__text"><i class="fa-solid fa-city icono"></i> Ciudad</label>
        <input type="text" id="ciudad" name="ciudad" class="articulo__input">
    </section>
</article>