<aside class="checkout__aside">
    <div class="box__aside">
        <h3 class="aside__titulo">Carrito <span class="aside__precio"><i class="fa-solid fa-cart-shopping"></i>3</span></h3>
        <p><a href="">Producto 1</a> <span class="aside__precio">$19.900</span></p>
        <p><a href="">Producto 2</a> <span class="aside__precio">$5.000</span></p>
        <p><a href="">Producto 3</a> <span class="aside__precio">$1.520</span></p>
        <hr>
        <p>Total<span class="aside__precio"><b>$26.420</b></span></p>
    </div>
</aside>