<footer>
    <div class="footer-nav">
        <div class="footer-items">
            <a href="#" class="fa-brands fa-youtube"></a>
            <a href="#" class="fa-brands fa-facebook"></a>
            <a href="#" class="fa-brands fa-twitter"></a>
            <a href="#" class="fa-brands fa-instagram"></a>
        </div>
        <p>&copy;Negratone2025. Todos los derechos reservados.</p>
        <div class="footer-items footer-left">
            <a href="#" class="fa-brands fa-apple-pay"></a>
            <a href="#" class="fa-brands fa-google-pay"></a>
        </div>
    </div>
</footer>