<section class="section-productos">
    <div class="contenedor-productos">
        <div class="box-productos">
            <%- include('../molecules/product-card', { 
                link: './product', 
                imgSrc: './img/producto-jack.jpg', 
                title: 'Whiskey Jack<br>Daniels Honey<br>750ml', 
                puntos: '19.900' 
            }) %>
    
            <%- include('../molecules/product-card', { 
                imgSrc: './img/producto-defoult.jpg', 
                title: 'Nombre del<br>producto o<br>servicio', 
                puntos: 'xx.xxx' 
            }) %>

            <%- include('../molecules/product-card', { 
                imgSrc: './img/producto-defoult.jpg', 
                title: 'Nombre del<br>producto o<br>servicio', 
                puntos: 'xx.xxx' 
            }) %>

            <%- include('../molecules/product-card', { 
                imgSrc: './img/producto-defoult.jpg', 
                title: 'Nombre del<br>producto o<br>servicio', 
                puntos: 'xx.xxx' 
            }) %>
        </div>
    </div>
</section>