<section class="section-productos">
            <div class="contenedor-productos">
                <h2>Los más pedidos</h2>
                <div class="box-productos">
                    <%- include('../molecules/product-card', { 
                        imagen: '/img/producto-jack.jpg', 
                        nombre: 'Jack Daniels Old No. 7', 
                        puntos: '45.000' 
                    }) %>
                    <%- include('../molecules/product-card', { 
                        imagen: '/img/producto-defoult.jpg', 
                        nombre: 'Fideos Lucchetti 500g', 
                        puntos: '2.500' 
                    }) %>
                    <%- include('../molecules/product-card', { 
                        imagen: '/img/producto-defoult.jpg', 
                        nombre: 'Fideos Lucchetti 500g', 
                        puntos: '2.500' 
                    }) %>
                    <%- include('../molecules/product-card', { 
                        imagen: '/img/producto-defoult.jpg', 
                        nombre: 'Fideos Lucchetti 500g', 
                        puntos: '2.500' 
                    }) %>
                </div>
            </div>
         </section>