<div class="box-publicidad">
    <%- include('../molecules/adCard', { 
        classImg: 'img-1', 
        imgSrc: './img/logo-netflix.png', 
        title: '50% OFF en Netflix', 
        description: 'Canjeando 50.000 puntos en Negratone' 
    }) %>
    
    <%- include('../molecules/adCard', { 
        classImg: 'img-2', 
        imgSrc: './img/logo-disney.png', 
        title: '50% OFF en Disney', 
        description: 'Canjeando 50.000 puntos en Negratone' 
    }) %>
</div>