<%- include('../partials/global/head')%>
<body>
    <%- include('../partials/organisms/header')%>
    <%- include('../partials/organisms/carro')%>
    <%- include('../partials/organisms/footer')%>
</body>
