<%- include('../partials/global/head') %>
<body>
    <%- include('../partials/organisms/header') %>
    <main>
        <div class="box-form">
            <%- include('../partials/organisms/login-form')  %>
        </div>
    </main>   
    <%- include('../partials/organisms/footer') %>
</body>
