<%- include('../partials/global/head.ejs') %>
<body>
    <%- include('../partials/organisms/header.ejs') %>
    <main>
        <div class="box-form">
            <%- include('../partials/organisms/login-form.ejs')  %>
        </div>
    </main>   
    <%- include('../partials/organisms/footer.ejs') %>
</body>
