<%- include('../partials/global/head')%>
<body>
    <%- include('../partials/organisms/header')%>
    <main>
    <!--falta contenido-->
    <h1>Trabajando en el contenido...</h1>
    </main>
    <%- include('../partials/organisms/footer')%>
</body>