<%- include('../partials/global/head')%>
<body>
    <%- include('../partials/organisms/header')%>
    <main>
    <!--falta contenido-->
    <div class="perfil">
            <div class="perfil-logo">
                <i class="fa-solid fa-user"></i>
                <p>Perfil</p>
            </div>
            <hr class="perfil-hr">
            <div class="perfil-link">
                <a href="/" class="perfil-a">Inicio</a>
                <a href="./cart" class="perfil-a">Carrito</a>
                <a href="#" class="perfil-a">Opciones</a>
                <a href="#" class="perfil-a">Contacto</a>
            </div>
            <hr class="perfil-hr">
            <a href="./register" class="perfil-a">Cerrar Sesión</a>
        </div>
    </main>
    <%- include('../partials/organisms/footer')%>
</body>