<%- include('../partials/global/head')%>
<body>
    <%- include('../partials/organisms/header')%>
    <main>
    <div class="box-form">
        <form class="form" action="./login">
            <h2 class="form-titulo">Regístrate</h2>
            <p class="form-texto">¿Ya tienes una cuenta? <a href="./login" class="form-link">Inicia Sesión</a></p>
            <div class="form-contenedor">
                <div class="form-grupo">
                    <input type="text" id="nombre" class="form-input" placeholder=" ">
                    <label for="nombre" class="form-label">nombre</label>
                    <span class="form-line"></span>
                </div>
                <div class="form-grupo">
                    <input type="email" id="usuario" class="form-input" placeholder=" ">
                    <label for="ususario" class="form-label">Correo Electrónico</label>
                    <span class="form-line"></span>
                </div>
                <div class="form-grupo">
                    <input type="password" id="contraseña" class="form-input" placeholder=" ">
                    <label for="constraseña" class="form-label">Contraseña</label>
                    <span class="form-line"></span>
                </div>
                <input type="submit" class="form-submit" value="Siguiente">
            </div>
        </form>
    </div>
</main>
    <%- include('../partials/organisms/footer')%>
</body>